@using EntityLayer.Concrete
@model List<Video>

<section id="hero" class="d-flex align-items-center mainpage">
    <div class="container position-relative text-center text-lg-left" data-aos="zoom-in" data-aos-delay="100">
        <div class="row">
            <div class="col-lg-8">
                <h1>Hoş Geldiniz <span>Menduh İnşaat</span> </h1>

                <h1 margin-top:5px">Dekorasyon Tadilat Anahtar <br /> <span style="width:120px;height:120px">teslimi...</span></h1>
                <h2>2001'den beri hizmetinizde !</h2>

                <div class="btns">
                    <a href="#menu" class="btn-menu animated fadeInUp scrollto">Ürünlerimiz</a>
                    <a href="#book-a-table" class="btn-book animated fadeInUp scrollto">Yorum Yap</a>
                </div>
            </div>
            <div class="col-lg-4 d-flex align-items-center justify-content-center" data-aos="zoom-in" data-aos-delay="200">
                @foreach (var item in Model)
                {
                <a href="@item.VideoLink" class="venobox play-btn" data-vbtype="video" data-autoplay="true"></a>
                }
            </div>

        </div>
    </div>
</section>