@model Video
@{
    ViewData["Title"] = "UpdateVideo";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<h1>Video Güncelleme</h1>
@using (Html.BeginForm("UpdateVideo", "Video", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.Label("Video ID")
    @Html.TextBoxFor(x => x.VideoID, new { @class = "form-control" })
    <br />
    @Html.Label("Video Linki")
    @Html.TextBoxFor(x => x.VideoLink, new { @class = "form-control" })


    <br />
    <button class="btn btn-info">Video Link'ini Kaydet</button>

}


