<section id="book-a-table" class="book-a-table">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>Yorum</h2>
            <p>Bir Yorum Yap !</p>
        </div>

        <form method="post" class="php-email-form" asp-action="AddComment" asp-controller="Comment" role="form" data-aos="fade-up" data-aos-delay="100" enctype="multipart/form-data">
            <div class="form-row">
                <div class="col-lg-4 col-md-6 form-group">
                    <input type="text" name="CommentUserName" class="form-control" id="name" placeholder="İsminiz" data-rule="minlen:3" data-msg="Lütfen en az 3 karakter girin">
                    <div class="validate"></div>
                </div>
                <div class="col-lg-4 col-md-6 form-group">
                    <input type="text" name="CommentTitle" class="form-control" id="name" placeholder="Konu" data-rule="minlen:3" data-msg="Lütfen en az 3 karakter girin">
                    <div class="validate"></div>
                </div>
                <div class="upload ">
                    <button type="button" class="btn-warning" style="color:white">
                        <i class="fa fa-upload"></i> Profil Fotoğrafı Yükle
                        <input type="file" name="ImageUrl">
                    </button>
                </div>
                <div class="form-group mb-3 col-lg-4 col-md-6">
                    <dnt-captcha asp-captcha-generator-max="999999" asp-captcha-generator-min="111111" asp-captcha-generator-language="Turkish"
                                 asp-captcha-generator-display-mode="ShowDigits"
                                 
                                 asp-placeholder="Resimdeki Rakamları Doğrulayın"
                                 asp-validation-error-message="Lütfen Doğru Güvenlik Kodlarını Girin"
                                 asp-font-name="Tahoma"
                                 asp-font-size="20"
                                 asp-fore-color="#333333"
                                 asp-back-color="#ccc"
                                 asp-text-box-class="text-box form-control"
                                 asp-text-box-template="<span class='input-group-prepend'><span class='form-group-text'></span></span>{0}"
                                 asp-validation-message-class="text-danger"
                                 asp-refresh-button-class="fas fa-redo btn-sm"
                                 asp-use-noise="false">

                    </dnt-captcha>
                </div>
            </div>
            <div class="form-group">
                <textarea class="form-control" name="CommentContent" rows="5" placeholder="Mesajınız"></textarea>
                <div class="validate"></div>
            </div>
            <div class="text-center"><button type="submit">Gönder</button></div>
        </form>
    </div>
</section>

<link rel="stylesheet" href="styles.css">
<link href="~/css/font-awesome.min.css" rel="stylesheet" />
<link href="~/css/comment.css" rel="stylesheet" />
<script src="~/js/site.js"></script>
<script src="~/Login/js/bootstrap.bundle.min.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
<script src="~/Admin/assets/js/jquery.unobtrusive-ajax.js"></script>

