@model EntityLayer.Concrete.Comment
<section id="book-a-table" class="book-a-table">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>Yorum</h2>
            <p>Bir Yorum Yap !</p>
        </div>

        <form method="post" class="php-email-form" asp-action="AddComment" asp-controller="Comment" role="form" data-aos="fade-up" data-aos-delay="100" enctype="multipart/form-data">
            <div class="form-row">
                <div class="col-lg-4 col-md-6 form-group">
                    <input type="text" name="CommentUserName" class="form-control" id="name" placeholder="İsminiz" data-rule="minlen:3" data-msg="Lütfen en az 3 karakter girin">
                    <div class="validate"></div>
                </div>
                <div class="col-lg-4 col-md-6 form-group">
                    <input type="text" name="CommentTitle" class="form-control" id="name" placeholder="Konu" data-rule="minlen:3" data-msg="Lütfen en az 3 karakter girin">
                    <div class="validate"></div>
                </div>
                <div class="upload ">
                    <button type="button" class="btn-warning" style="color:white">
                        <i class="fa fa-upload"></i> Profil Fotoğrafı Yükle
                        <input type="file" name="ImageUrl">
                    </button>
                </div>

            </div>
            <div class="form-group">
                <textarea class="form-control" name="CommentContent" rows="5" placeholder="Mesajınız"></textarea>
                <div class="validate"></div>
            </div>
            <div class="text-center"><button type="submit">Gönder</button></div>
        </form>
    </div>
</section>
<link rel="stylesheet" href="styles.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="~/css/comment.css" rel="stylesheet" />
<script src="~/js/site.js"></script>
<script src="~/Login/js/bootstrap.bundle.min.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
<script src="~/Admin/assets/js/jquery.unobtrusive-ajax.js"></script>

