@using EntityLayer.Concrete
@model List<Comment>

@{
    ViewData["Title"] = "CommentList";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<h1>Yorumlar Listesi</h1>

<div class="row">
    <div class="col-12 grid-margin">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Yorumlar</h4>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th> # </th>
                                <th> Kullanıcı Adı </th>
                                <th> Başlık </th>
                                <th> Tarih </th>
                                <th> Durum </th>
                                <th> Detaylar </th>

                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {


                                <tr>
                                    <td>
                                        <img src="@item.ImageUrl" class="mr-2" alt="image">
                                    </td>
                                    <td>
                                        @item.CommentUserName
                                    </td>
                                    <td>
                                        @item.CommentTitle
                                    </td>
                                    <td>  @(((DateTime)item.CommentDate).ToString("dd MM yyyy")) </td>

                                    <td>
                                        @if (item.CommentStatus == true)
                                        {
                                            <span class="badge badge-success">Aktif</span>
                                        }
                                        else
                                        {
                                            <span class="badge badge-secondary">Pasif</span>
                                        }
                                    </td>

                                    <td><a href="/Comment/DeleteComment1/@item.CommentID" class="btn btn-gradient-danger">Yorumu Sil</a></td>

                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>





