<footer id="footer">
    <div class="footer-top">
        <div class="container">
            <div class="row">

                <div class="col-lg-3 col-md-6">
                    <div class="footer-info">
                        <h3>Bizimle İletişime Geçin !</h3>
                        <p>
                            Limontepe, 9765. Sk.<br>
                            No:42, 35160 Karabağlar/İzmir<br><br>
                            <strong>Telefon:</strong> +90 534 582 58 18<br>
                            <strong>Telefon:</strong> +90 539 884 78 26<br>
                            <strong>E-mail:</strong>menduhinsaat@gmail.com<br>
                        </p>
                        <div class="social-links mt-3">
                            <a href="https://www.instagram.com/menduherus/" class="twitter"><i class="bx bxl-twitter"></i></a>
                            <a href="https://www.facebook.com/menduh.erus" class="facebook"><i class="bx bxl-facebook"></i></a>
                            <a href="https://www.instagram.com/menduherus/" class="instagram"><i class="bx bxl-instagram"></i></a>
                            <a href="https://www.instagram.com/menduherus/" class="google-plus"><i class="bx bxl-skype"></i></a>
                            <a href="https://www.instagram.com/menduherus/" class="linkedin"><i class="bx bxl-linkedin"></i></a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-2 col-md-6 footer-links">
                    <h4>Bağlantılar</h4>
                    <ul>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Anasayfa</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Hakkımızda</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Servisler</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Kullanım Şartları</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Gizlilik Politikası</a></li>
                    </ul>
                </div>

                <div class="col-lg-3 col-md-6 footer-links">
                    <h4>Hizmetlerimiz</h4>
                    <ul>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Dekorasyon</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Mutfak Dolabı</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">İnşaat</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Alçı & Sıva</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Asma Tavan</a></li>
                    </ul>
                </div>

                <div class="col-lg-4 col-md-6 footer-newsletter">
                    <h4>Bültenimiz</h4>
                    <p>Daha iyi hizmet vermek müşteri memnuniyetini artırmak</p>
                    <form action="" method="post">
                        <input type="email" name="email"><input type="submit" value="Takip Et">
                    </form>

                </div>

            </div>
        </div>
    </div>

    <div class="container">
        <div class="copyright">
            &copy; Copyright <strong><span>Yunus İNAN</span></strong>. Tüm Hakları Saklıdır..
        </div>
        <div class="credits">
            Tasarlayan <a href="https://www.instagram.com/yunusiinan/">Yunus İNAN</a>
        </div>
    </div>
</footer>