
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Menduh İnşaat Dashboard</title>
    <!-- plugins:css -->
    @await Component.InvokeAsync("_DashboardLinkrelViewComponentPartial")
  </head>
  <body>
    <div class="container-scroller">
      <!-- partial:partials/_navbar.html -->
        @await Component.InvokeAsync("_DashboardNavbarViewComponentPartial")
      <!-- partial -->
      <div class="container-fluid page-body-wrapper">
        <!-- partial:partials/_sidebar.html -->
            @await Component.InvokeAsync("_DashboardSidebarViewComponentPartial")
        <!-- partial -->
        <div class="main-panel">
          <div class="content-wrapper">
                    @RenderBody()
           
          </div>

                @await Component.InvokeAsync("_DashboardFooterViewComponentPartial")

        </div>

      </div>

    </div>
    @await Component.InvokeAsync("_DashboardScriptsViewComponentPartial")
  </body>
</html>
