<div id="topbar" class="d-flex align-items-center fixed-top">
    <div class="container d-flex">
        <div class="contact-info mr-auto">
            <i class="icofont-phone"></i> +90 534 582 58 18
            <span class="d-none d-lg-inline-block"><i class="icofont-clock-time icofont-rotate-180"></i> Pzt-Cmt: 07:00 - 17:00</span>
        </div>
        <div class="languages">
            <ul>
                <li>TR</li>
                <li><a href="#">EN</a></li>
            </ul>
        </div>
    </div>
</div>