
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>MENDUH İNŞAAT</title>
    <meta content="" name="description">
    <meta content="" name="keywords">
    <meta name="google-site-verification" content="ffwmb16k-ELMcf8a7tdKK2SGxzKWJ96MEWSE9_B0vpE" />

    <!-- Favicons -->
    <link href="~/menduhinsaat/assets/img/favicon.png" rel="icon">
    <link href="~/menduhinsaat/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="~/menduhinsaat/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/menduhinsaat/assets/vendor/icofont/icofont.min.css" rel="stylesheet">
    <link href="~/menduhinsaat/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="~/menduhinsaat/assets/vendor/animate.css/animate.min.css" rel="stylesheet">
    <link href="~/menduhinsaat/assets/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="~/menduhinsaat/assets/vendor/venobox/venobox.css" rel="stylesheet">
    <link href="~/menduhinsaat/assets/vendor/aos/aos.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="~/menduhinsaat/assets/css/style.css" rel="stylesheet">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-216649461-1">
    </script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-216649461-1');
    </script>


</head>

<body>

    <!-- ======= Top Bar ======= -->
    @await Html.PartialAsync("TopBar")

    <!-- ======= Header ======= -->
    @await Html.PartialAsync("UstHeader") <!-- End Header -->
    <!-- ======= Hero Section ======= -->
    @await Component.InvokeAsync("Videos")
    <!-- End Hero -->

    <main id="main">

        <!-- ======= About Section ======= -->
        @await Html.PartialAsync("AboutMe") <!-- End About Section -->
        <!-- ======= Why Us Section ======= -->
        @await Html.PartialAsync("WhyUs")<!-- End Why Us Section -->
        <!-- ======= Menu Section ======= -->
        @RenderBody()
        <!-- End Menu Section -->
        <!-- ======= Specials Section ======= -->
        <!-- End Specials Section -->
        <!-- ======= Events Section ======= -->
        @await Component.InvokeAsync("SpecialProduct")
        @await Component.InvokeAsync("Organizations")
        @await Html.PartialAsync("~/Views/Comment/AddComment.cshtml")
        <!-- End Events Section -->
        <!-- ======= Book A Table Section ======= --> <!-- End Book A Table Section -->
        <!-- ======= Testimonials Section ======= -->
        @await Component.InvokeAsync("Comments") <!-- End Testimonials Section -->
        <!-- ======= Gallery Section ======= -->
        <section id="gallery" class="gallery">

            <div class="container" data-aos="fade-up">
                <div class="section-title">
                    <h2>Galeri</h2>
                    <p>İş Yerimizden Bazı Fotoğraflar</p>
                </div>
            </div>

            @await Component.InvokeAsync("Images")
            <br />
        </section>


        <!-- End Gallery Section -->
        <!-- ======= Chefs Section ======= -->
        @await Component.InvokeAsync("Employees") <!-- End Chefs Section -->
        <!-- ======= Contact Section ======= -->
        <section id="contact" class="contact">
            <div class="container" data-aos="fade-up">

                <div class="section-title">
                    <h2>İletişim</h2>
                    <p>Bizimle İletişime Geçin</p>
                </div>
            </div>

            <div data-aos="fade-up">

                <iframe style="border:0; width: 100%; height: 350px;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3127.878340020749!2d27.092549915335056!3d38.374935779654564!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14bbde91afc29fed%3A0xf723706f684e3050!2sLimontepe%2C%209765.%20Sk.%20No%3A42%2C%2035160%20Karaba%C4%9Flar%2F%C4%B0zmir!5e0!3m2!1str!2str!4v1633888535704!5m2!1str!2str" width="600" height="450" style="border:0;" loading="lazy" frameborder="0" allowfullscreen></iframe>
            </div>

            <div class="container" data-aos="fade-up">

                <div class="row mt-5">

                    <div class="col-lg-4">
                        <div class="info">
                            <div class="address">
                                <i class="icofont-google-map"></i>
                                <h4>Adresimiz:</h4>
                                <p>Limontepe, 9765. Sk. No:42, 35160 Karabağlar/İzmir</p>
                            </div>

                            <div class="open-hours">
                                <i class="icofont-clock-time icofont-rotate-90"></i>
                                <h4>Açılış Saatleri:</h4>
                                <p>
                                    Pazartesi-Pazar:<br>
                                    07:00 - 17:00
                                </p>
                            </div>

                            <div class="email">
                                <i class="icofont-envelope"></i>
                                <h4>E-mail:</h4>
                                <p>menduhinsaat@gmail.com</p>
                                <p>legendys65@gmail.com</p>
                            </div>

                            <div class="phone">
                                <i class="icofont-phone"></i>
                                <h4>Telefon:</h4>
                                <p>+90 534 582 58 18</p>
                                <p>+90 539 884 78 26 </p>
                            </div>

                        </div>

                    </div>

                    @await Html.PartialAsync("~/Views/Mail/SendMail.cshtml")

                </div>

            </div>
        </section><!-- End Contact Section -->

    </main><!-- End #main -->
    <!-- ======= Footer ======= -->
    @await Html.PartialAsync("Footer") <!-- End Footer -->

    <div id="preloader"></div>
    <a href="#" class="back-to-top"><i class="bx bx-up-arrow-alt"></i></a>

    <!-- Vendor JS Files -->
    <script src="~/menduhinsaat/assets/vendor/jquery/jquery.min.js"></script>
    <script src="~/menduhinsaat/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/menduhinsaat/assets/vendor/jquery.easing/jquery.easing.min.js"></script>
    <script src="~/menduhinsaat/assets/vendor/php-email-form/validate.js"></script>
    <script src="~/menduhinsaat/assets/vendor/owl.carousel/owl.carousel.min.js"></script>
    <script src="~/menduhinsaat/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="~/menduhinsaat/assets/vendor/venobox/venobox.min.js"></script>
    <script src="~/menduhinsaat/assets/vendor/aos/aos.js"></script>

    <!-- Template Main JS File -->
    <script src="~/menduhinsaat/assets/js/main.js"></script>

</body>

</html>