<section id="why-us" class="why-us">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>Neden Biz</h2>
            <p>Neden Bizi Seçmelisiniz ?</p>
        </div>

        <div class="row">

            <div class="col-lg-4">
                <div class="box" data-aos="zoom-in" data-aos-delay="100">
                    <span>01</span>
                    <h4>Müşteri Memnuyeti</h4>
                    <p>Müşteri Memnuyeti her zaman önceliğimizdir..Müşterimizin görüşlerine önem veriyoruz.</p>
                </div>
            </div>

            <div class="col-lg-4 mt-4 mt-lg-0">
                <div class="box" data-aos="zoom-in" data-aos-delay="200">
                    <span>02</span>
                    <h4>Kaliteli Hizmet</h4>
                    <p>Yıllardır kalitenin adresi olarak hizmet veriyoruz.Müşterilerimizin tercihin en büyük sebeplerinden biri kalitemiz.</p>
                </div>
            </div>

            <div class="col-lg-4 mt-4 mt-lg-0">
                <div class="box" data-aos="zoom-in" data-aos-delay="300">
                    <span>03</span>
                    <h4>Marka Ürünlerimiz</h4>
                    <p>Yıllardan beri kaliteli markaların ürünlerini ve hizmetlerini kullanıyoruz.Kaliteli ürün kalite hizmet..</p>
                </div>
            </div>

        </div>

    </div>
</section>