<section class="ftco-gallery">
    <div class="container-wrap">
        <div class="row no-gutters">
            <div class="col-md-3 ftco-animate">
                <a href="gallery.html" class="gallery img d-flex align-items-center" style="background-image: url(/images/gallery-1.jpg);">
                    <div class="icon mb-4 d-flex align-items-center justify-content-center">
                        <span class="icon-heart"></span>
                    </div>
                </a>
            </div>
            <div class="col-md-3 ftco-animate">
                <a href="gallery.html" class="gallery img d-flex align-items-center" style="background-image: url(/wwwroot/VideoGalleryTemplate/images/gallery-1.jpg);">
                    <div class="icon mb-4 d-flex align-items-center justify-content-center">
                        <span class="icon-search"></span>
                    </div>
                </a>
            </div>
            <div class="col-md-3 ftco-animate">
                <a href="gallery.html" class="gallery img d-flex align-items-center" style="background-image: url(images/gallery-3.jpg);">
                    <div class="icon mb-4 d-flex align-items-center justify-content-center">
                        <span class="icon-search"></span>
                    </div>
                </a>
            </div>
            <div class="col-md-3 ftco-animate">
                <a href="gallery.html" class="gallery img d-flex align-items-center" style="background-image: url(images/gallery-4.jpg);">
                    <div class="icon mb-4 d-flex align-items-center justify-content-center">
                        <span class="icon-search"></span>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>

<script src="~/VideoGalleryTemplate/js/aos.js"></script>
<script src="~/VideoGalleryTemplate/js/bootstrap-datepicker.js"></script>
<script src="~/VideoGalleryTemplate/js/bootstrap.min.js"></script>
<script src="~/VideoGalleryTemplate/js/google-map.js"></script>
<script src="~/VideoGalleryTemplate/js/jquery-migrate-3.0.1.min.js"></script>
<script src="~/VideoGalleryTemplate/js/jquery.animateNumber.min.js"></script>
<script src="~/VideoGalleryTemplate/js/jquery.easing.1.3.js"></script>
<script src="~/VideoGalleryTemplate/js/jquery.magnific-popup.min.js"></script>
<script src="~/VideoGalleryTemplate/js/jquery.min.js"></script>
<script src="~/VideoGalleryTemplate/js/jquery.stellar.min.js"></script>
<script src="~/VideoGalleryTemplate/js/jquery.timepicker.min.js"></script>
<script src="~/VideoGalleryTemplate/js/jquery.waypoints.min.js"></script>
<script src="~/VideoGalleryTemplate/js/main.js"></script>
<script src="~/VideoGalleryTemplate/js/owl.carousel.min.js"></script>
<script src="~/VideoGalleryTemplate/js/popper.min.js"></script>
<script src="~/VideoGalleryTemplate/js/scrollax.min.js"></script>
<link href="~/VideoGalleryTemplate/css/animate.css" rel="stylesheet" />
<link href="~/VideoGalleryTemplate/css/aos.css" rel="stylesheet" />
<link href="~/VideoGalleryTemplate/css/bootstrap-datepicker.css" rel="stylesheet" />
<link href="~/VideoGalleryTemplate/css/flaticon.css" rel="stylesheet" />
<link href="~/VideoGalleryTemplate/css/icomoon.css" rel="stylesheet" />
<link href="~/VideoGalleryTemplate/css/ionicons.min.css" rel="stylesheet" />
<link href="~/VideoGalleryTemplate/css/jquery.timepicker.css" rel="stylesheet" />
<link href="~/VideoGalleryTemplate/css/magnific-popup.css" rel="stylesheet" />
<link href="~/VideoGalleryTemplate/css/open-iconic-bootstrap.min.css" rel="stylesheet" />
<link href="~/VideoGalleryTemplate/css/owl.carousel.min.css" rel="stylesheet" />
<link href="~/VideoGalleryTemplate/css/owl.theme.default.min.css" rel="stylesheet" />
<link href="~/VideoGalleryTemplate/css/style.css" rel="stylesheet" />