@model List<Admin>

<div class="row">
    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Giriş Yapan Kullanıcı Hakkında</h4>

                <div class="d-flex mt-5 align-items-top">
                   
                        <img src="@ViewBag.UserImageUrl" class="img-sm rounded-circle mr-3" alt="image">
                        <div class="mb-0 flex-grow">
                            <h5 class="mr-2 mb-2">Kullanıcı Adı: @ViewBag.v1 -   <b>Admin</b></h5>
                            <p class="mb-0 font-weight-light">Ad Soyad: @ViewBag.UserName</p>
                        </div>
                        <div class="ml-auto">
                            <i class="mdi mdi-heart-outline text-muted"></i>
                        </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>