
@{
    ViewData["Title"] = "AddImage";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<section id="book-a-table" class="book-a-table">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>Fotoğraf</h2>
            <p>Bir Çalışma Fotoğrafı Yükle !</p>
        </div>

        <form method="post" class="php-email-form" asp-action="AddImage" asp-controller="Image" role="form" data-aos="fade-up" data-aos-delay="100" enctype="multipart/form-data">
            <div class="form-row">
                <div class="upload ">
                    <button type="button" class="btn-warning" style="color:white">
                        <i class="fa fa-upload"></i> Fotoğraf Seç
                        <input type="file" name="ImageUpload">
                    </button>

                </div>

                <div class="text-center" style="margin-left:15px"><button class="btn btn-primary" type="submit">Yükle</button></div>

            </div>


        </form>
    </div>
</section>

