<section id="about" class="about">
    <div class="container" data-aos="fade-up">

        <div class="row">
            <div class="col-lg-6 order-1 order-lg-2" data-aos="zoom-in" data-aos-delay="100">
                <div class="about-img">
                    <img src="~/construction/assets/img/turkiye.jpg" alt="">
                </div>
            </div>
            <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
                <h3>En Değerlisi! Kaliteli Hizmet Verir..</h3>
                <p class="fst-italic">
                    20 Yılı aşkın süredir kaliteli ürün ve hizmetlerle kalitenin tek adresi olduk.Bizim için en değerli olan müşteri memnuniyetidir..
                </p>
                <ul>
                    <li><i class="bi bi-check-circle"></i> Azim ve sebat, insanların en büyük yardımcısıdır</li>
                    <li><i class="bi bi-check-circle"></i> Kalitenin Tek Adresi</li>
                    <li><i class="bi bi-check-circle"></i> Kalitenin ve müşteri memnuniyetnin bize verdiği güçle 20 yıldır hizmetinizdeyiz.Kaliteli ürünlerimiz ve kaliteli personellerimiz ile yıllardır hizmetinizdeyiz..</li>
                </ul>
                <p>
                    Menduh İnşaat olarak 20 yıldır azimle başarılı çalışmayla ve başarılı personellerimizle yıllardır İzmir ve diğer şehirlere hizmet veriyoruz.Önceliğimiz müşteri memnunyeti olduğu gibi bir yandan da kalitedir.Aşağıya inerek değerli kullanıcılarımızın müşterilerimizin yorumlarına ulaşabilirsiniz..Menduh İnşaat Kalitenin Adresi..

                </p>
            </div>
        </div>

    </div>
</section>