@model List<Category>
@{
    ViewData["Title"] = "AddCategory";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<h1>Kategori Ekle</h1>

<form method="post">
    <label>
        Kategori Adı
    </label>
    <input type="text" name="CategoryName" class="form-control" /><br />    <label>
        Kategori Açıklaması
    </label>
    <input type="text" name="CategoryDescription" class="form-control" /><br />
    <button type="submit" class="btn btn-info">Kategori Ekle</button>
</form>


