@model List<Category>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<table>
    <tr>
        <th>Kategori Adı</th>
        <th>Kategori Açıklaması</th>

    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.CategoryID</td>
            <td>@item.CategoryName</td>
            <td>@item.CategoryDescription</td>
        </tr>
    }

</table>

