@model Product
@{
    ViewData["Title"] = "AddProduct";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<link href="~/css/comment.css" rel="stylesheet" />
<section id="book-a-table" class="book-a-table">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>Ürün</h2>
            <p>Yeni Ürün Ekle !</p>
        </div>

        <form method="post" class="php-email-form" asp-action="AddProduct" asp-controller="Product" role="form" data-aos="fade-up" data-aos-delay="100" enctype="multipart/form-data">
            <div class="form-row">
                <div class="col-lg-4 col-md-6 form-group">
                    <input type="text" name="ProductName" class="form-control" id="name" placeholder="Ürün Adı" data-rule="minlen:3" data-msg="Lütfen en az 3 karakter girin">
                    <div class="validate"></div>
                </div>
                <div class="col-lg-4 col-md-6 form-group">
                    <input type="text" name="ProductDescription" class="form-control" id="name" placeholder="Ürün Açıklaması" data-rule="minlen:3" data-msg="Lütfen en az 3 karakter girin">
                    <div class="validate"></div>
                </div>
                <div class="upload ">
                    <button type="button" class="btn-warning" style="color:white">
                        <i class="fa fa-upload"></i> Ürün Fotoğrafı Yükle
                        <input type="file" name="ProductImage">
                    </button>
                </div>
                
                <div class="col-lg-4 col-md-6 form-group">
                    <input type="text" name="ProductPrice" class="form-control" id="name" placeholder="Ürün Fiyatı" data-rule="minlen:3" data-msg="Lütfen en az 3 karakter girin">
                    <div class="validate"></div>
                </div>
                <div class="col-lg-4 col-md-6 form-group">
                    <select name="CategoryID" class="form-control" id="CategoryID">
                        @foreach (var item in ViewBag.cv)
                        {
                            <option value="@item.Value">@item.Text</option>
                        }
                    </select>
                    <div class="validate"></div>
                    <br />
                    <label for="CategoryID" class="form-label">Kategori</label>

                </div>

            </div>

            <div class="text-center"><button type="submit" class="btn btn-danger">Ürün Ekle</button></div>
        </form>
    </div>
</section>

