@model Asp.NetCore6._0_Dynamic_Construction_Project.Models.ProductImageUpdate
@{
    ViewData["Title"] = "EditProduct";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<link href="~/css/comment.css" rel="stylesheet" />
<h2>Ürün Güncelle</h2>

<form asp-action="EditProduct" method="post" enctype="multipart/form-data">
    <input type="hidden" asp-for="ProductID" />

    <div class="form-group">
        <label for="ProductName">Ürün Adı</label>
        <input type="text" class="form-control" asp-for="ProductName" />
        <span asp-validation-for="ProductName" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label for="ProductDescription">Ürün Açıklaması</label>
        <textarea class="form-control" asp-for="ProductDescription"></textarea>
        <span asp-validation-for="ProductDescription" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label for="ProductPrice">Fiyat</label>
        <input type="text" class="form-control" asp-for="ProductPrice" />
        <span asp-validation-for="ProductPrice" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label for="CategoryID">Kategori Seçin</label>
        <select asp-for="CategoryID" class="form-control" asp-items="@(ViewBag.cv as List<SelectListItem>)">
            <option value="">Kategori Seçin</option>
        </select>
        <span asp-validation-for="CategoryID" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label for="ProductImage">Yeni Resim Yükle</label>
        <input type="file" class="form-control" asp-for="ProductImage" />
        @if (Model.ExistingImagePath != null)
        {
            <img src="@Model.ExistingImagePath" width="100" height="100" />
            <p>Mevcut Resim</p>
        }
    </div>

    <button type="submit" class="btn btn-primary">Güncelle</button>
</form>


