@using EntityLayer.Concrete
@model List<Comment>

<section id="testimonials" class="testimonials section-bg">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>YORUMLAR</h2>
            <p>Bizim hakkımızda ne diyorlar ?</p>
        </div>

        <div class="owl-carousel testimonials-carousel" data-aos="zoom-in" data-aos-delay="100">
            @foreach (var item in Model)
            {

            
            <div class="testimonial-item">
                <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    @item.CommentContent
                </p>
                <img src="@item.ImageUrl" style="height:86px;width:80px" class="testimonial-img" alt="">
                <h3>@item.CommentUserName</h3>
                <h4>@item.CommentTitle</h4>
            </div>
            }

        </div>

    </div>
</section>